
<template>
<div class="contenitore-switch"  >
    <div class="date" >
       <input type="text" placeholder="Search...">
    </div>
    <div class=""  v-for="(item,index) in myJSON" :key="item.index">
        <div class="section-date-title">
           <i class="fas fa-play"></i>
            <div class="title-orario">
                <h3>{{item.orario}}</h3>
               
            </div>
            <div class="bottone-open">
                <button @click="prova(index)"> + </button>
            </div>
        </div>
         <div  v-if="AumentaView & currentImage==index " >
               <div style="display:flex">
               <span>{{item.text}}</span>
                <img :src="item.image" alt="" style="height:120px;border:1px solid grey;" >
                </div>
            </div>
    </div>
</div>
</template>

<style scoped>

.date input{
    padding:10px;
    width:100%;
    text-align: center;
   
    background-color:rgb(0, 0, 0);

    color:#fff;
}
.title-orario h3{
     color:#fff;
}
.section-date-title{
    padding:15px 30px;
    display:flex;
    justify-content: space-between;
    align-items: center;
    background-color:rgb(48, 48, 48);
    color:#fff;
}

.bottone-open button{
    border:none;
    font-size: 30px;
    background-color:transparent;
     color:#fff;
}

</style>

<script>
export default{

    data(){
        return{
        AumentaView:false,
        currentImage:null,
        myJSON : [
        {orario:"28/06/21", title:"Dance", image:"images/brazil.jpg",text:" Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dignissimos error ipsa placeat veniam! Omnis molestiae iure natus quae? Mollitia, similique sed expedita aperiam laudantium ut ipsa ex eaque doloremque debitis."},
        {orario:"29/06/21", title:"HipHop", image:"images/jamaica.jpg",text:" Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dignissimos error ipsa placeat veniam! Omnis molestiae iure natus quae? Mollitia, similique sed expedita aperiam laudantium ut ipsa ex eaque doloremque debitis."},
        {orario:"30/06/21", title:"Techo", image:"images/hawaii.jpg",text:" Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dignissimos error ipsa placeat veniam! Omnis molestiae iure natus quae? Mollitia, similique sed expedita aperiam laudantium ut ipsa ex eaque doloremque debitis."},
        {orario:"31/06/21", title:"Rap", image:"images/panama.jpg",text:" Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dignissimos error ipsa placeat veniam! Omnis molestiae iure natus quae? Mollitia, similique sed expedita aperiam laudantium ut ipsa ex eaque doloremque debitis."}
        ]


        }
    },

    methods:{
        prova:function(index){
        this.AumentaView = !this.AumentaView
        this.currentImage = index
        console.log(this.currentImage)


        }
    }}
</script>
