<template>
    <div class="homepage">
        <div class="video">
            <h1>home</h1>
            {{ images }}
        </div>

        <div class="navigation-section">

        <TheNavigation/>
        <div class="box-s-a">
            <router-view></router-view>
        </div>

        </div>
    </div>


</template>


<script>
import TheNavigation from '@/components/TheNavigation.vue'
export default{
components:{TheNavigation},

    data(){
        return{

        videoRecharge:null,
        videorandom :null,
        x:null,
        info: null,
        loading: true,
        errored: false,
        images :[],
        Arraydiecivideo:[],
        Arraydiecivideo1:[],
        show: true
        }
    },



//   funzioneuno :function()
    mounted()
    {

    // this.x = Math.floor((Math.random() * 10) + 1);

    var API = 'https://pixabay.com/api/videos/?key=23204036-69c0429327c4664dc706ccca6&q=ocean+dolphin&profile_id=1' ;

    axios
        .get(API)
        .then((result)=>{
        this.images = result.data.hits;

        this.videorandom = this.images;
        //   console.log(x)
        //   console.log(this.videorandom.videos.large.url)
        this.videoRecharge = this.videorandom.videos.large.url
        // videoaside
        this.Arraydiecivideo = this.images.slice(0, 5)

        //    console.log(this.Arraydiecivideo)
        this.Arraydiecivideo1 =  this.Arraydiecivideo
        //    console.log(this.Arraydiecivideo1)


        })

    }
}
</script>



<style scoped>
.navigation-section{
    border:5px solid red;
    position:absolute;
    width:50%;
    height:calc(100vh - 0px);
    right:0;
    padding:30px;
}
.homepage{
    display: flex;
}
.video{
    border:5px solid rgb(0, 255, 128);

    overflow: hidden;
    position:absolute;
    width:50%;
    height:calc(100vh - 0px);
    left:0;
}

</style>
