
<template>
<div class="contenitore-switch"  >
    <div class="date" >
        <h3 >18/05/2021</h3>
    </div>
    <div class=""  v-for="(item,index) in myJSON" :key="item.index">
        <div class="section-date-title">
            <div class="title-orario">
                <h3>{{item.orario}}</h3>
                <h3>{{item.title}}</h3>
            </div>
            <div  v-if="AumentaView & currentImage==index " >
                <img :src="item.image" alt="" style="height:120px;border:1px solid grey;" >
            </div>
            <div class="bottone-open">
                <button @click="prova(index)"> + </button>
            </div>
        </div>
    </div>
</div>
</template>

<style scoped>

.date h3{
    padding:10px;
    width:100%;
    text-align: center;
    text-shadow: 1px 1px 4px black;
    background-color:grey;

    color:#fff;
}
.title-orario h3{
    text-shadow: 1px 1px 4px rgb(255, 255, 255);
}
.section-date-title{
    padding:15px 30px;
    display:flex;
    justify-content: space-between;
    align-items: center;
    background-color:lightgrey;
}

.bottone-open button{
    border:none;
    font-size: 30px;
    background-color:transparent;
    text-shadow: 1px 1px 4px rgb(255, 255, 255);
}

</style>

<script>
export default{

    data(){
        return{
        AumentaView:false,
        currentImage:null,
        myJSON : [
        {orario:"12AM / 13AM", title:"Dance", image:"images/brazil.jpg"},
        {orario:"13AM / 14AM", title:"HipHop", image:"images/jamaica.jpg"},
        {orario:"14AM / 15AM", title:"Techo", image:"images/hawaii.jpg"},
        {orario:"15AM / 16AM", title:"Rap", image:"images/panama.jpg"}
        ]


        }
    },

    methods:{
        prova:function(index){
        this.AumentaView = !this.AumentaView
        this.currentImage = index
        console.log(this.currentImage)


        }
    }}
</script>
