
<template>
   <div id="nav">
    <!-- <li><router-link to="/">HOME</router-link></li> -->
    <li><router-link to="/">Schedule</router-link></li>
    <li><router-link to="/archive">Archive</router-link></li>
  </div>
</template>

<style lang="css">
 #nav .cambiacolore{
      color:red;
  }
  #nav{
     display:flex;
      height:90px;
    
      width:100%;
      justify-content: center;
      align-items: center;
  }
  #nav li{
    list-style: none;
    margin:0 10%;
  }
</style>