
<template>
    <div class="App-home">
        <Home />
    </div>
</template>

<script>

    import Home from '@/views/Home.vue'
    export default{
    components:{Home}
    }
</script>

<style scoped>

.App-home{
   border:5px solid rgb(132, 0, 255);
   width:100%;
   height:100vh;
}
</style>
